#why-choose-us-heading-box {
    align-self: end;
 }
 
 .why-choose-us-image {
    float: left;
    margin-right: 20px;
    margin-top: 30px;
 }
 
 .why-choose-us-image-con h2 {
    font-size: 14px;
    margin-bottom: 20px;
    margin-top: 30px;
 }
 
 .why-choose-us-image-con p {
    font-size: 12px;
    margin-bottom: 20px;
    line-height: 20px;
 }
 
 .why-choose-us-image-con a {
    color: #707070;
    font-size: 12px;
 }
 
  #why-choose-us-bottom-nav {
    background-color: #9a2018;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
 }
 
 #why-choose-us-bottom-nav ol {
    list-style-type: none;
    margin: 0 0 0 20px;
    padding: 0;
    text-align: center;
 }
 
 #why-choose-us-bottom-nav ol li {
    display: inline;
    margin: 0 0 0 20px;
 }
 
 #why-choose-us-bottom-nav ol li a {
    padding: 5px;
    color: #fff;
 }

 #why-choose-us-bottom-nav ol li a {
   padding: 5px;
   color: #fff;
   text-decoration: underline solid rgb(255, 255, 255);
}


 #why-choose-us-bottom-nav ol li a:hover {
   padding: 5px;
   color: #fff;
   text-decoration: none;
}


#why-choose-us-bottom-nav ol li a:visited {
   padding: 5px;
   color: #fff;
   text-decoration:none;
}


.peek {
    display: none;
    margin-top:-350px ;
    background-color: #fff;
}

.col-span-full.why-choose-us-image-con.peek:target {
    display: block;
    animation: fadeIn 0.1s ease; /* Add a fade-in effect */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

